{% extends 'base.html.twig' %}

{% block title %}Origine index{% endblock %}

{% block body %}
    <h1>Origine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for origine in origines %}
            <tr>
                <td>{{ origine.id }}</td>
                <td>{{ origine.Pays }}</td>
                <td>
                    <a href="{{ path('app_origine_show', {'id': origine.id}) }}">show</a>
                    <a href="{{ path('app_origine_edit', {'id': origine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_origine_new') }}">Create new</a>
{% endblock %}
